*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 550px;
    width: 900px;
    /* border: 2px solid blue; */
    border-radius: 15px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.left-div{
    /* border: 1px solid red; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signin-text{
    margin-top: 70px;
    margin-bottom: 30px;
}
.icon1{
    height: 45px;
    width: 45px;
    border: 1px solid grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
        align-items: center;
        margin-bottom: 20px;
}
.icon1 img{
    margin-top: 5px;
    width: 20px;
}
.social-icon{
    display: flex;
    gap: 20px;
}
#account-text{
    color: rgb(83, 83, 83);
    margin-bottom: 13px;
}
input{
    height: 50px;
    width: 360px;
    border: none;
    background-color: #eeeeee;
    border-radius: 4px;
    padding-left: 13px;
    font-size: 16px;
    transition: all 0.4s ease;
}
input:focus { 
    outline: none !important;
    border-color: #a0a7af;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px;
 }
 #inp1{
    margin-bottom: 20px;
}
#inp2{
    margin-bottom: 25px;
}
#forgot-text{
    color: rgb(83, 83, 83);
    font-size: 17px;
    margin-bottom: 20px;
}
#btn1{
    text-transform: uppercase;
    height: 38px;
    width: 150px;
    border-radius: 30px;
    background-color: #FF4B2B;
    color: white;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .5s ease;
    
}
#btn1:hover{
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 15px;
}
.right-div{
    width: 50%;
    height: 100%;
    /* border: 1px solid yellowgreen; */
    border-radius: 0px 15px 15px 0px;
    background: linear-gradient(#FF4452, #FF4167);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-text{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
.extra-text{
    text-align: center;
    color: white;
    font-size: 17px;
    word-spacing: 1px;
    margin-bottom: 20px;
}
#btn2{
    text-transform: uppercase;
    height: 38px;
    width: 150px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .5s ease;
}
#btn2:hover{
    background-color: black;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 15px;
}
.signup{
    display: none;
}

/* media quary */

@media (max-width:950px) {
    .main{
        height: 530px;
        width: 730px;
        /* border: 2px solid blue; */
        border-radius: 15px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    input {
        height: 42px;
        width: 313px;
        font-size: 14px;
    }
    #inp1 {
        margin-bottom: 15px;
    }
    .login-text { 
        font-size: 40px;
        text-align: center;
        margin-bottom: 13px;
    }
    .extra-text {
        font-size: 16px;
        word-spacing: 1px;
        margin-bottom: 20px;
    }
}

@media (max-width:780px) {
    .main {
        height: 490px;
        width: 640px;

    }
    #signin-text {
        margin-top: 55px;
        margin-bottom: 30px;
    }
    .icon1 {
        height: 40px;
        width: 40px;
        margin-bottom: 17px;
    }
    .icon1 img{
        margin-top: 5px;
        width: 18px;
    }
    input {
        height: 38px;
        width: 280px;
        font-size: 13px;
    }
    #inp1 {
        margin-bottom: 15px;
    }
    #inp2 {
        margin-bottom: 23px;
    }
    #forgot-text {
        color: rgb(83, 83, 83);
        font-size: 16px;
        margin-bottom: 20px;
    }
}

@media (max-width:670px) {
    .main {
        height: 490px;
        width: 430px;

    }
    .left-div{
        height: 100%;
        width: 100%;
    }
    input {
        height: 40px;
        width: 310px;
        font-size: 13px;
    }
    #forgot-text {
        color: rgb(83, 83, 83);
        font-size: 14px;
        margin-bottom: 20px;
        margin-left: -165px;
    }
    .signup{
        display: block;
        margin-top: 3px;
    }
    a{
        text-decoration: none;
      font-size: 14px;
      color: rgb(83, 83, 83);
      transition: all .3s ease;
    }
    a:hover{
        color: black;
    }
    .right-div{
        display: none;
    }
    .simple-text{
        display: flex;
        
    }
}
@media (max-width:480px) {
    .main {
        height: 470px;
        width: 370px;

    }
    #signin-text {
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .icon1 {
        height: 37px;
        width: 37px;
        margin-bottom: 17px;
    }
    .icon1 img {
        margin-top: 5px;
        width: 16px;
    }
}
@media (max-width:400px) {
    .main {
        height: 430px;
        width: 300px;
    }
    #signin-text {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    input {
        height: 36px;
        width: 264px;
        font-size: 13px;
    }
    #inp1 {
        margin-bottom: 12px;
    }
    #inp2 {
        margin-bottom: 12px;
    }
    #forgot-text {
        color: rgb(83, 83, 83);
        font-size: 12px;
        margin-bottom: 20px;
        margin-left: -140px;
    }
    #btn1 {
        height: 34px;
        width: 143px;
        border-radius: 30px;
        background-color: #FF4B2B;
        color: white;
        border: none;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all .5s ease;
    }
    a {
        text-decoration: none;
        font-size: 12px;
        color: rgb(83, 83, 83);
        transition: all .3s ease;
    }
}